<!-- overview -->

<section id="blog" class="two">

    <header>
      <h2> Latest <strong>Blog</strong> Posts</h2>
    </header>
    <div class="row">
      <div class="col-md-6 col-sm-6 align-left">
        <h3 class="sub-heading text-left"> Latest Tweets </h3>
        <div style="border:1px solid #e8e8e8; display:inline-block; padding-left:2px;width:100%"> 
        	<a class="twitter-timeline" href="https://twitter.com/Boxupp" data-widget-id="568025264777469952" height="390" width="100%" data-chrome="transparent ">Tweets by @Boxupp</a> 
        </div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
      </div>
      
      <div class="col-md-6 col-sm-6 align-left">
     	<h3 class="text-left">Latest Blog</h3>
        {% for post in site.posts %}
         
            <article class="latest-blog margin-bottom">           
                <p> <a href="{{ post.post-url }}" target="_blank">{{ post.post-heading }}</a></p>
               	<p class="date"><i class="fa fa-clock-o"></i> Posted on  {{ post.post-date }} {{ post.post-year }} by <strong>{{ post.post-by }}</strong></p>
                <p class="post-desc">{{  post.description }}</p>               
             
              
             </article>
           
          {% endfor %} 
      
      </div>
      
       </div>

</section>
