<!-- Contact -->
<section id="contact" class="three">
 
    <header>
      <h2>Subscribe to our mailing list</h2>
    </header>

   
    <form method="post" action="http://boxupp.us8.list-manage.com/subscribe/post?u=78e7a2b300cee23ba23dc5811&amp;id=c85de8d0b4">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-3 col-sm-offset-2">
          <input type="email" placeholder="Please enter email-id here" required="" name="EMAIL"/>
        </div>
        <div class="col-md-2 col-sm-3">
          <input type="submit" value="Subscribe" />
        </div>
      </div>
      
    </form>
</section>
