<!-- developers -->
<section id="developers" class="three">
 
    <header>
      <h2>Developers <a href="https://travis-ci.org/BoxUpp/boxupp" target="_blank" class="bulid-link"><img src="https://api.travis-ci.org/BoxUpp/boxupp.svg" alt="boxupp.svg"></a> </h2>
    </header>
    <div class="row step">
      <div class="col-md-4  col-sm-4 text-center"><a href="https://github.com/BoxUpp/boxupp" target="_blank">
        <div class="steps first hvr-shutter-out-horizontal"> <i class="fa fa-github-square"></i> </div>
        <div class="clearfix"></div>
        <h3 class="sub-heading text-center"> Fork repository </h3>
        </a> </div>
      <div class="col-md-4 col-sm-4 text-center"> <a href="https://github.com/BoxUpp/boxupp/issues" target="_blank">
        <div class="steps second hvr-shutter-out-horizontal"> <i class="fa fa-file-text-o"></i> </div>
        <div class="clearfix"></div>
        <h3 class="sub-heading text-center"> Report / Suggest </h3>
        </a> </div>
      <div class="col-md-4 col-sm-4 text-center"> <a href="https://github.com/BoxUpp/boxupp" target="_blank"s>
        <div class="steps third hvr-shutter-out-horizontal"> <i class="fa fa-users"></i> </div>
        <div class="clearfix"></div>
        <h3 class="sub-heading text-center"> Contribute </h3>
        </a> </div>
      <div class="clearfix"></div>
    </div>
    

 <div class="technologies">
      <div class="row ">
      	
        <div class="">
        	<div class="left-side">
         		<h6 class="text-left"> Other Developer <span>Resources</span> :</h6>
            </div>
            
            <div class="technologiesLogo">
        <ul>
      <li><a href="https://forge.puppetlabs.com/modules?utf-8=%E2%9C%93&sort=rank&q=Boxupp" target="_blank"> <img src="images/puppet-forg.png" alt="Angular JS Logo"/></a></li>
      <li> <a href="online-linter.html" target="_blank"><i class="fa  fa-code"></i>Puppet Linter</a></li>
      
       </ul>
        </div>
        </div>
       
        
      </div>
      </div>

</section>
