<!-- overview -->

<section id="overview" class="three">
  <header>
    <h2>Lets Take A Quick <strong>Overview</strong></h2>
  </header>
  <div class="row workspaces" >
          <div class="col-md-7 col-sm-6 text-left">
            <h3>Inbuilt Vagrant Intelligence</h3>
            <p>You do not need to learn Vagrant syntax. Boxupp knows what vagrant commands to run, how to achieve to bring your dashboard box states in sync with the real infrastructure at the backend. Enjoy vagrant features and Boxupp will take care of rest ! <br>
              <a href="#"  data-toggle="modal" data-target=".request-demo">To know More Book a Live Demo > </a> 
            </p>
          </div>
          <div class="col-md-5 col-sm-6 center-feature">
            <div class="tool-image  pull-right"  data-toggle="modal" data-target=".myModal"> 
            	<img src="images/inbuiltvagran.png" class="DisplayNone img-responsive" alt="Creation of Workspaces"/>
              <div class="zoom displayNone"   ><i class="fa fa-search" ></i> </div>
            </div>
          </div>
          <div class="modal modalStyle fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-PopStyle" >
              <div class="modal-content"  >
                <button class="close model-btn-close" aria-hidden="true" data-dismiss="modal" type="button"><i class="fa  fa-times-circle"></i> </button>
                <img src="images/inbuiltvagran-img.png" alt="Create Workspace" class="img-responsive"/> </div>
            </div>
          </div>
          <div  class="modal fade request-demo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-Style ">
              <div class="modal-content  ">
                <div class="modal-header " id="validator">
                  <button type="button" class="close model-btn-close " data-dismiss="modal" aria-hidden="true"><i class="fa  fa-times-circle"></i> </button>
                  <p class="text-left">Please Fill The Form Below<!-- And Our Support Staff Will Get Back To You Within 24hrs-->.</p>
                </div>
                <div class="modal-body" >
                  <div class="form-group">
                    <input type="Name" class="form-control" id="userName" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="userEmail" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <input type="skype " class="form-control" id="userSkypeId" placeholder="Skype Id">
                  </div>
                  <div class="form-group">
                    <input type="Phone Number" class="form-control" id="userPhoneNumber" placeholder="Phone Number">
                  </div>
                  <div class="form-group">
                    <label class="pull-left">Preferred Time to Contact in GMT</label>
                    <div class="row">
                      <div class="col-xs-6">
                        <select class="selectMenuStyle"  id="preferredTime1">
                          <option>00:00 Hrs </option>
                          <option>01:00 Hrs </option>
                          <option>02:00 Hrs </option>
                          <option>03:00 Hrs </option>
                          <option>04:00 Hrs </option>
                          <option>05:00 Hrs </option>
                          <option>06:00 Hrs </option>
                          <option>07:00 Hrs </option>
                          <option>08:00 Hrs </option>
                          <option>09:00 Hrs </option>
                          <option>10:00 Hrs </option>
                          <option>11:00 Hrs </option>
                          <option>12:00 Hrs </option>
                          <option>13:00 Hrs </option>
                          <option>14:00 Hrs </option>
                          <option>15:00 Hrs </option>
                          <option>16:00 Hrs </option>
                          <option>17:00 Hrs </option>
                          <option>18:00 Hrs </option>
                          <option>19:00 Hrs </option>
                          <option>20:00 Hrs </option>
                          <option>21:00 Hrs </option>
                          <option>22:00 Hrs </option>
                          <option>23:00 Hrs </option>
                          <option>24:00 Hrs </option>
                        </select>
                      </div>
                      <div class="col-xs-6">
                        <select class="selectMenuStyle" id="preferredTime2">
                          <option>01:00 Hrs </option>
                          <option>02:00 Hrs </option>
                          <option>03:00 Hrs </option>
                          <option>04:00 Hrs </option>
                          <option>05:00 Hrs </option>
                          <option>06:00 Hrs </option>
                          <option>07:00 Hrs </option>
                          <option>08:00 Hrs </option>
                          <option>09:00 Hrs </option>
                          <option>10:00 Hrs </option>
                          <option>11:00 Hrs </option>
                          <option>12:00 Hrs </option>
                          <option>13:00 Hrs </option>
                          <option>14:00 Hrs </option>
                          <option>15:00 Hrs </option>
                          <option>16:00 Hrs </option>
                          <option>17:00 Hrs </option>
                          <option>18:00 Hrs </option>
                          <option>19:00 Hrs </option>
                          <option>20:00 Hrs </option>
                          <option>21:00 Hrs </option>
                          <option>22:00 Hrs </option>
                          <option>23:00 Hrs </option>
                          <option>24:00 Hrs </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group  text-center" >
                    <button type="button" class="btn btn-success Validate-btn " onclick="requestForDemo();" >Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="row gitShare" >
          <div class="col-md-5  col-sm-6 order2">
            <div class="tool-image pull-left"  data-toggle="modal" data-target=".myModal1"> 
            	<img src="images/Search-module.png" class="DisplayNone img-responsive" alt="Boxupp Provision - VMs and LXC with Puppet" />
              	<div class="zoom displayNone"><i class="fa fa-search" ></i> </div>
            </div>
          </div>
          <div class="modal modalStyle  fade myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-PopStyle">
              <div class="modal-content">
                <button class="close model-btn-close" aria-hidden="true" data-dismiss="modal" type="button">
                	<i class="fa  fa-times-circle"></i> </button>
                <img src="images/Search-module-img.png" alt="git share" class="img-responsive"/> 
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-6 order1">
            <h3>Puppet Forge Integration</h3>
            <p>Boxupp supports around 2.8k+ modules from Puppet Forge. You can search and download a required module from the Puppet Forge repository and link it with any of the boxes defined in your Boxupp Dashboard. <br>
              <a href="#top">Download and Take a Ride ></a> 
            </p>
          </div>
        </div>
        
        
        <div class="row outPutConsole" >
          <div class="col-md-7 col-sm-6">
            <h3>Manage multiple workspaces in your browser</h3>
            <p>Super easy to create workspaces using providers viz. Docker and VirtualBox. Navigate effortlessly from one workspace to the other. Define boxes, modules, scripts within your workspaces and much more. <br>
              <a href="#top">Download and Explore Yourself ></a> 
            </p>
          </div>
          <div class="col-md-5 col-sm-6 center-feature">
            <div class="tool-image pull-right " data-toggle="modal" data-target=".myModal2">
            	<img src="images/Create-Workspace.png"  class="DisplayNone img-responsive"  alt=" Output Console"/>
              <div class="zoom displayNone"><i class="fa fa-search" ></i> </div>
            </div>
          </div>
          <div class="modal modalStyle fade myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-PopStyle" >
              <div class="modal-content"  >
                <button class="close model-btn-close" aria-hidden="true" data-dismiss="modal" type="button">
                	<i class="fa  fa-times-circle"></i> </button>
                <img src="images/Create-Workspace-img.png" alt="git share" class="img-responsive"/> 
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="row provisioning" >
          <div class="col-md-5 col-sm-6 order2">
            <div class="tool-image pull-left" data-toggle="modal" data-target=".myModal3"> 
            	<img src="images/git.png" class="DisplayNone img-responsive"   alt="Shell Provisioner"/>
              	<div class="zoom displayNone"><i class="fa fa-search" ></i> </div>
            </div>
          </div>
          <div class="modal modalStyle fade myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-PopStyle">
              <div class="modal-content"  >
                <button class="close model-btn-close" aria-hidden="true" data-dismiss="modal" type="button"><i class="fa  fa-times-circle"></i> </button>
                <img src="images/git-share.png" alt="git share" class="img-responsive"/> 
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-6 order1">
            <h3>Share your virtual environments over github</h3>
            <p>Share your infrastructure as code on Github from within your Boxupp's control panel. This will help you collaborate, get feedback, get contributions from your team members or peer groups which will help in seamless development across teams.<br>
              <a href="#top">Download and Play Around ></a> 
            </p>
          </div>
        </div>
  
</section>
