<!-- downloads -->

<section id="started" class="two">
 
    <header>
      <h2>Get <strong>Started</strong> </h2>
    </header>
    <div class="row">
      <div class="col-md-3 col-sm-3 text-center">
        <div class="get-started"> <a href="https://github.com/BoxUpp/boxupp/releases" target="_blank">
          <div class="icon"> <span> <i class="fa fa-download"></i></span> </div>
          <h3 class="sub-heading"> Download </h3>
          </a> </div>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <div class="get-started"> <a href="http://docs.boxupp.com/" target="_blank">
          <div class="icon"> <span> <i class="fa  fa-file-o"></i></span> </div>
          <h3 class="sub-heading"> Docs </h3>
          </a> </div>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <div class="get-started"> <a href="https://www.youtube.com/channel/UCO4YPFoRuc9Fjl1-2nkfoyw" target="_blank">
          <div class="icon"> <span> <i class="fa  fa-video-camera"></i></span> </div>
          <h3 class="sub-heading"> Video </h3>
          </a> </div>
      </div>
      <div class="col-md-3 col-sm-3 text-center">
        <div class="get-started"> <a href="faq.html" target="_blank">
          <div class="icon"> <span> <i class="fa fa-support"></i></span> </div>
          <h3 class="sub-heading"> Support </h3>
          </a> </div>
      </div>
    </div>
 
</section>
