<!-- downloads -->

<section id="why" class="two">
  <div class="row">
    <header>
      <h2>Section-1</strong> </h2>
    </header>
   
      <div class="col-lg-8 col-md-8 col-sm-7 text-left">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas auctor massa eu maximus. Mauris id quam nisl. Aliquam consequat arcu purus, vel feugiat orci consectetur non. Sed mollis diam ut mi faucibus tempus. Pellentesque pulvinar, odio nec posuere commodo, tortor turpis varius nisl, at elementum purus nisl sed felis. Nullam gravida metus id aliquam commodo. Morbi lacinia est non urna tincidunt facilisis. Aenean ac vulputate orci. Pellentesque elementum dolor ut mauris luctus iaculis.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5"> <img src="images/steps.gif" alt="Boxupp-steps" class="img-responsive center-feature"> </div>
   
  </div>
</section>
