<!-- downloads -->

<section id="why" class="two">
  <div class="row">
    <header>
      <h2>Why <strong>Boxupp</strong> </h2>
    </header>
   
      <div class="col-lg-8 col-md-8 col-sm-7 text-left">
        <p>Our motivation to develop this tool is to provide an unified interface to the developers to efficiently manage their development environments and focus on coding instead of putting infrastructures in place. Therefore, we have brought together tools like Vagrant, Puppet and Docker under one roof. Initially we started with VirtualBox for creating and provisioning infrastructure locally and are now focussing on supporting other platforms like Amazon Cloud and Google Compute.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5"> <img src="images/steps.gif" alt="Boxupp-steps" class="img-responsive center-feature"> </div>
   
  </div>
</section>
