---
layout: page
title: FAQ | Boxupp
description: Case Study depicting how inculcation of DevOps culture helped us at Boxupp automate our processes on various nodes for one of our clients Chaikin Power Tools.
---

<section class="support two"> 


<div class="row">
<header>
    <h2><strong>Support</strong></h2>
  </header>

<div class="col-md-7">
 
<h3 class="sub-heading  text-left">Frequently Asked <span>Questions</span></h3>
	<div class="panel-group" id="accordion">
 
  <div class="panel panel-default ">
    <div class="panel-heading active">      
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <h5 class="panel-title">Can existing Vagrant boxes be used in Boxupp ?</h5>
        </a>      
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Yes. Boxupp is a wrapper on top of Vagrant. With that said, any boxes which can be referred to by Vagrant installation on your computer can be used in Boxupp. They won't be downloaded again, if available locally.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">      
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <h5 class="panel-title">Login credentials are stored locally ?</h5>
        </a>      
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Yes, Login credentials are stored locally on your system and user authentication is handled there itself with no call beings directed outside your system which is running Boxupp
      </div>
    </div>
  </div>
  
  <div class="panel panel-default ">
    <div class="panel-heading ">      
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <h5 class="panel-title">I am facing some issues using the tool. What to do ?</h5>
        </a>      
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Please raise a ticket at https://github.com/BoxUpp/boxupp/issues or get in touch directly over mail at support@boxupp.com
      </div>
    </div>
  </div>
  
  <div class="panel panel-default ">
    <div class="panel-heading">      
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#4">
          <h5 class="panel-title">Will you be adding support for more providers in future ?</h5>
        </a>      
    </div>
    <div id="4" class="panel-collapse collapse">
      <div class="panel-body">
        Yes, we plan to add support for VMWare, XEN, AWS and more such providers in future.
      </div>
    </div>
  </div>  
</div>

</div>

<div class="col-md-5">
	<h3 class="sub-heading text-left">Raise a  <span>Ticket</span></h3>
     <p>If you cannot find your issue(s) listed in the FAQs section
on the left, please raise a ticket for the same on our Github repository
and we will resolve it soon. <br> For raising a ticket <a href="https://github.com/BoxUpp/boxupp/issues" target="_blank">click here </a>
  	<h3 class="sub-heading  text-left">Chat/<span>Call</span></h3>
    <ul class="need-help">
        	<li><i class="fa fa-envelope"></i><a href="mailto:upport@boxupp.com"> support@boxupp.com</a></li>
            <li><i class="fa fa-skype"></i><a href="skype:akshay.kapoor03?chat"> akshay.kapoor03</a></li>
             <li><i class="fa fa-phone"></i> 0172-2236044, +91-1244692969</li>
        </ul>
</div>



 

<div class="clearfix"></div>
</div>
</div>
</section>


















